section#foreign-students.foreign-students
  .container
    .row
      .col-md-6.col-md-push-6
        .info-panel
          h2.text-heading Иногородним
          p
            | Для иногородних студентов мы можем предложить размещение в университетской гостинице, которая находится  рядом с местом проведения обучения.
          p
            | Номера повышенной комфортности для деловых партнеров и гостей СПбПУ расположены на 2-м этаже общежития №15 по адресу: 
            strong Гражданский проспект, дом 28
            | .
          p В гостинице имеются блоки, состоящие из двух номеров с общими кухней и душем. 
      .col-md-6.col-md-pull-6
        img.hero-img.img-responsive(src='http://terp10.spbstu.ru/img/hotel-1.jpg', alt='')
    .row
      .col-md-6
        .info-panel
          p
            | Предлагается размещение в одноместных и двухместных номерах со всеми удобствами и всем необходимым для комфортного проживания.
          p Стоимость проживания в номерах повышенной комфортности:
          ul
            li
              strong 1000 руб.
              |  с человека в сутки в двухместном номере
            li
              strong 1500 руб.
              |  с человека в сутки в одноместном номере (двухместном без подселения)
          a.btn.btn-ui(href='http://terp10.spbstu.ru/userfiles/files/pdf/brochure_hotel_imop.pdf', target='_blank') Подробнее
      .col-md-6
        div
          img.hero-img.img-responsive(src='http://terp10.spbstu.ru/img/hotel-2.jpg', alt='')