section#price.price.price-bg
  .container
    .col-md-4.col-md-offset-4
      h2.text-heading Стоимость
    .row
      .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
        .prices
          .add-info
            | Благодаря специальной программе «Университетский Альянс SAP» стоимость участия для студентов значительно ниже, чем при обучении в учебных центрах SAP
          .pr-menu
            ul
              li.current(data-tab='box-01')
                .sect стоимость курса
              li(data-tab='box-02')
                .sect(title='Ранняя оплата за 30 дней до начала курса') оплата за 30 дней
          .desc
            #box-01.box.current
              .price-val
                | 21 500
                i.fa.fa-ruble
            #box-02.box
              .price-val
                | 19 800
                i.fa.fa-ruble
          .descript
            .info
              p
                | Оплата в кассе Университета без комиссии, принимаются к оплате банковские карты. Возможна оплата безналичным способом (для юридических лиц).
                br
                | 								Есть возможность оплатить через отделения Сбербанка (квитанция высылается по запросу) или любой интернет-банкинг.
              p
                em Курс проводиться только для студентов, аспирантов и сотрудников вузов.
              .title Для сотрудников СПбПУ предусмотрена специальная цена.