section#program.program
  .container
    .col-md-4.col-md-offset-4
      h2.text-heading Программа
    .row
      .col-md-6.sap-bg
        .program-download
          p
            | Программа курса охватывает все основные модули SAP ERP. Теоретические разделы курса сопровождаются практическими упражнениями на реальной систем. На протяжении курса слушатели играют роли различных сотрудников современного предприятия, что позволяет им лучше понять как SAP ERP позволяет делать бизнес-процессы более эффективными.
            br
            | 							По итогам курса вы научитесь:
          ul
            li
              | работать вместе с ответственными консультантами и членами проектной группы в отдельных ERP-областях
            li
              | понимать принципы взаимодействия основных интеграционных бизнес-процессов в рамках SAP ERP в следующих областях: Закупки, Производство, Планирование, Управление проектами, Продажи, Сервисное обслуживание клиентов, Управление основными средствами предприятия, Финансы, Управление человеческим капиталом и Аналитика
          a.btn.btn-ui(href='http://terp10.spbstu.ru/userfiles/files/pdf/sap-terp10-program.pdf', target='_blank') Скачать программу
      .col-md-6
        .charters
          ul.program-list
            li
              .lesson Автоматизация бизнес-процессов
              ul.themes
                li Использование SAP Business Suite для автоматизации бизнес-процессов предприятия
            li
              .lesson Основные понятия SAP ERP и навигация
              ul.themes
                li Навигация в рамках системы SAP ERP
                li Персонализация и настройка графического интерфейса пользователя SAP (GUI)
                li Концепции, применяемые в приложениях SAP
                li ERP
                li SAP Business Warehouse (BW)
                li Описание нового функционала SAP
            li
              .lesson Основные понятия Финансов SAP (FI)
              ul.themes
                li Описание задач Финансов в SAP ERP
                li
                  | Определение организационных уровней в компонентах финансов (FI) и внутреннего учета и отчетности (CO)
                li Определение основных данных Главной книги (GL)
                li Работа с планом счетов
                li Создание основной записи основного счета
                li Проводка документа основного счета
            li
              .lesson Основные понятия Внутреннего учета и отчетности SAP (CO)
              ul.themes
                li Описание функций и определение организационных уровней в контроллинге
                li Выполнение проводок во внутреннем учете
            li
              .lesson От закупки до платежа в SAP ERP (Закупки)
              ul.themes
                li Описание бизнес-процесса "от покупки до оплаты
                li
                  | Определение организационных уровней в компонентах финансов (FI) и внутреннего учета и отчетности (CO)
                li
                  | Организационные уровни и основные данные, используемые в бизнес-процессе "от заготовки до оплаты"
                li Выполнение процесса закупки:
                li Определение точек интеграции процесса "от покупки до оплаты"
            li
              .lesson От планирования до производства в SAP ERP
              ul.themes
                li Описание бизнес-процесса "от планирования до производства"
                li
                  | Организационные уровни, основные записи материалов, спецификации, технологические карты, рабочие места
                li
                  | Интеграция CO и планирования производства (МВЗ, вид работы, планирование тарифов)
                li Создание калькуляции затрат на продукт
                li Планирование потребности в продукте
                li Выполнение процесса планирования потребности в материалах (ППМ)
                li Обработка списка выполненных производственных заказов
                li
                  | Ввод перемещений запаса и проводок переноса, обработка заказа на перемещение запаса
                li
                  | Выполнение операций по закрытию периода для производственных заказов, калькуляция отклонений для производства и выполнение позаказного расчета
                li Точки интеграции процесса "от планирования до производства"
            li
              .lesson Обработка процессов "От заказа до оплаты" в SAP ERP (Сбыт)
              ul.themes
                li Описание бизнес-процесса "от заказа до оплаты".
                li Организационные уровни, работа с основной записью клиента и материала
                li Ведение условий.
                li Выполнение процесса
                li Работа со счетами клиента
                li Информационная система сбыта
                li Учет по МВП
                li
                  | Анализ рентабельности внешних сегментов рынка (работа с компонентом «Учет результатов»)
                li Точки интеграции процесса "от заказа до оплаты"
            li
              .lesson Внутренние заказы, основные средства и SAP Enterprise Asset Management (EAM)
              ul.themes
                li Описание взаимодействия между внутренними заказами, основными средствами и EAM
                li Мониторинг затрат с использованием внутренних заказов
                li Обработка облиго для внутреннего заказа
                li Расчет по внутренним заказам
                li Проверка проводок затрат в Проводнике учета основных средств
                li
                  | Выполнение операций по закрытию периода для основных средств, обработка ведомости движений основных средств
                li Определение технических объектов, используемых в SAP EAM
                li Интеграция SAP EAM и Учета основных средств
                li Создание сообщений ТОРО
                li Создание заказов ТОРО
                li Выполнение планирования материалов в ТОРО
                li Выполнение общего подтверждения и закрытие заказа ТОРО
                li Сравнение плановых и фактических затрат для заказа ТОРО
            li
              .lesson Система проектов в SAP ERP
              ul.themes
                li Создание проектов с элементами структурного плана проекта (СПП)
                li Присвоение сетевого графика проекту
                li Планирование данных и ресурсов для проекта
                li Планирование затрат и выручки проекта
                li Присвоение бюджета проекту
                li Выполнение проекта
                li Операции по закрытию периода в проекте
                li Определение точек интеграции систем проектов
            li
              .lesson Управление персоналом (HCM)
              ul.themes
                li Объяснение процессов HCM
                li Определение структур HCM
                li Управление записями данных по сотрудникам
                li Прием на работу сотрудника
                li Квалификации и требования
                li Процесс обучения и управление мероприятиями
                li Вспомогательные процессы HCM
                li Идентификация операций в интерфейсе самообслуживания
            li
              .lesson Сертификационный экзамен
              .themes
                p
                  | По окончании курса слушателям предоставляется уникальная возможность сдать сертификационный экзамен и получить сертификат SAP.
                  br
                  | 										Экзамен принимается непосредственно представителем компании SAP.
                p
                  | Сертификационный тест состоит из 
                  strong 80 вопросов
                  |  и занимает 
                  strong 3 часа
                  | .
                p
                  | При успешной сдаче слушатели получают сертификат «SAP Certified Associate Business Foundation & Integration with SAP ERP 6.0 EHP5»
                p.notice
                  | Стоимость сертификационного экзамена 
                  strong не входит в стоимость курса
                  |  и составляет 
                  strong 140 евро 
                  | (оплата в рублях по внутреннему курсу компании SAP)
  .container
    .row
      .col-md-4.col-md-offset-4
        h2.text-heading Cертификация
    .row
      .col-md-5
        img.hero-img.img-responsive(src='http://terp10.spbstu.ru/img/certificate.jpg', alt='')
      .col-md-7
        p
          | Спрос на квалифицированных специалистов в области ERP-систем в России растет и существенно превышает предложение. Многие предприятия стали уделять повышенное внимание оптимизации внутренних бизнес-процессов, снижению издержек за счет более качественного их учета и анализа. Использование средств автоматизированного учета, электронного документооборота и различных аналитических инструментов становится повседневной работой для рядовых сотрудников компаний.
        p
          | Учитывая обострившуюся конкуренцию в IT-сфере, возникает вопрос о гарантиях для работодателя уровня профессиональных знаний, полученных студентами, которые обычно еще не имеют достаточного опыта работы. Традиционно данный вопрос решается с помощью системы 
          strong профессиональной сертификации
          | , при которой знания слушателя подтверждены независимым образом.
        p
          | Наилучшим вариантом является схема, при которой сертификацию осуществляет непосредственно компания – производитель IT- решения. В этом случае достигается максимальная заинтересованность всех сторон в поддержании высокого уровня знаний.
          br
          | 						По окончании курса слушателям предоставляется уникальная возможность сдать сертификационный пройти обучение и получить сертификат SAP.
        p
          | Экзамен принимается непосредственно представителем компании SAP.
          br
          | 						Сертификационный тест состоит из 
          strong 80 вопросов
          |  и занимает 
          strong 3 часа
          | .
          br
          | 						При успешной сдаче слушатели получают сертификат 
          strong
            | «SAP Certified Associate Business Foundation & Integration with SAP ERP 6.0 EHP5»
          | .
        p
          | Стоимость сертификационного экзамена 
          strong не входит в стоимость курса
          |  и составляет 
          strong 140 евро
          |  (оплата в рублях по внутреннему курсу компании SAP).