section#questions.questions
  .container
    .row
      .col-md-4.col-md-offset-4
        h2.text-heading Вопросы
    #accordion.panel-group(role='tablist', aria-multiselectable='true')
      .panel
        #heading1.panel-heading(role='tab')
          .panel-title
            a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', data-target='.collapse1', aria-expanded='false', aria-controls='collapse1')  Какие требования предъявляются к участникам?
        .panel-collapse.collapse.collapse1(role='tabpanel', aria-labelledby='heading1')
          .panel-body
            p
              | Требования минимальны, достаточно уверенного владения компьютером и базового понимания процессов предприятия.
      .panel
        #heading2.panel-heading(role='tab')
          .panel-title
            a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', data-target='.collapse2', aria-expanded='false', aria-controls='collapse2')  Что дают студентам знания в области SAP, подтвержденные сертификатом?
        .panel-collapse.collapse.collapse2(role='tabpanel', aria-labelledby='heading2')
          .panel-body
            p
              | Прежде всего, наличие сертификата подтверждает компетентность, гарантирует уровень знаний и практических навыков, а также служит прекрасным стартом для изучения специализированных решений и компонентов SAP.
            p
              | Практически все мировые и многие отечественные компании используют в своей работе ERP-систему SAP. Знание продуктов SAP, подтвержденное сертификатом, и практические навыки работы с ними являются существенным преимуществом при приеме на работу. Учитывая, что компании ежегодно тратят огромные средства на обучение и сертификацию своих сотрудников по работе с программным обеспечением SAP, прием на работу уже подготовленных сотрудников представляет собой очевидный путь сокращения этих расходов.
            p
              | Владея основными навыками, выпускники быстрее включаются в работу, им не придётся тратить время на освоение довольно сложных программных средств SAP. Поэтому на новом рабочем месте они смогут больше внимания уделять своим профессиональным обязанностям, и их достижения будут выше, чем у коллег, которые еще только учатся работать с SAP.
      .panel
        #heading3.panel-heading(role='tab')
          .panel-title
            a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', data-target='.collapse3', aria-expanded='false', aria-controls='collapse3')  Куда может пойти работать выпускник, имеющий сертификат?
        .panel-collapse.collapse.collapse3(role='tabpanel', aria-labelledby='heading3')
          .panel-body
            p
              | Большое количество крупных компаний работают с программным обеспечением SAP. На текущий момент технологии SAP фактически являются стандартом корпоративных информационных систем для крупных предприятий, это примерно 49,9% рынка. Существует несколько направлений, где знание работы с SAP дает преимущества.
            p
              | Основными работодателями могут быть компании - клиенты SAP. Это крупные российские и зарубежные компании, которые используют решения SAP. Им требуются специалисты с основным образованием по профилю предприятия (энергетика, инженерия, финансы, техника и технология, машиностроение, авиастроение и т.п.) и с дополнительными специализированными знаниями по использованию технологий SAP. Таких сотрудников гораздо легче обучать, они быстрее вливаются в коллектив и, соответственно, более выгодны для компании.
            p
              | Другая возможность - это компании-интеграторы, которые являются партнерами SAP и специализируются на продаже, настройке и внедрении продуктов SAP. Им нужны специалисты во всех областях от продаж до разработки программных решений на базе SAP. Курс TERP10 является базовым для консультантов по продуктам SAP, продавцов, внедренцев и других специалистов, работающих в области ERP-систем. Для программистов и разработчиков курс также окажется полезным для понимания общей работы системы.
            p
              | Также и сама компания SAP, которая имеет представительства в Москве, Санкт-Петербурге, Екатеринбурге, Новосибирске, странах СНГ и на Украине, в связи с активным развитием постоянно набирает новых профессиональных сотрудников.