section#testimonials.testimonials
  .container
    .col-md-6.col-md-offset-3
      h2.text-center.text-heading Отзывы выпускников
    .col-md-12
      .owl-carousel.simple(data-owl-xs='1', data-owl-sm='1', data-owl-md='1', data-owl-lg='1')
        .testimonial-item
          .person
            .image
              img(src='http://terp10.spbstu.ru/userfiles/images/speakers/dankevich.jpg', alt='')
            .name Данкевич Елена
            .position консультант поддержки SAP FI/CO, Ferrero Russia
            .desc
              p
                | Курс SAP TERP 10 стал отличным стартом в моей карьере SAP-консультанта. Он помог понять мне как работает система в целом и что из себя представляют основные модули. Благодаря курсу, я смогла сразу понять в каком модуле мне будет интересно работать и мне проще было в дальнейшем определиться с проектом для начала карьеры. Сейчас в работе мне иногда приходится сталкиваться с проблемами в смежных областях разных модулей и в такие моменты я мысленно благодарна курсу, что знаю принципы интеграции и взаимодействия модулей и могу решать подобные проблемы комплексно.
        .testimonial-item
          .person
            .image
              img(src='http://terp10.spbstu.ru/userfiles/images/speakers/timofeeva.jpg', alt='')
            .name Ирина Тимофеева
            .position Ведущий консультант SAP HCM, Кредо Консалтинг
            .desc
              p
                | Я проходила курс TERP10 в 2012 году. Сразу по окончании сдала сертификационный тест. Сейчас работаю ведущим консультантом в консалтинговой компании.
                br
                | 								То, что хочу работать с SAPом, я знала давно, но после курса смогла точно определиться какие именно функциональности меня привлекают. Это максимально эффективный способ познакомиться с системой, узнать об основных её особенностях, «потрогать вживую».
                br
                | 								Ну и полученный сертификат выручал уже не раз, когда одно из условий тендера - наличие сертификата.
        .testimonial-item
          .person
            .image
              img(src='http://terp10.spbstu.ru/userfiles/images/speakers/kupriyanov.jpg', alt='')
            .name Юрий Куприянов
            .position к.т.н., менеджер университетского альянса SAP и SAP Next-Gen Labs России/СНГ
            .desc
              p
                | На мой взгляд, человека, который сталкивался с решениями и экосистемой SAP в различных ипостасях: студента, преподавателя, бизнес-консультанта, исследователя и в настоящий момент менеджера академической программы «Университетский Альянс SAP», отвечающего за работу с вузами России и СНГ, ‑ есть несколько весьма весомых причин для студентов инвестировать свое время, силы, волю и, что важно, финансовые ресурсы в прохождение обучения и последующую сертификацию по единственному вводному тренингу SAP, предполагающему выдачу глобального свидетельства SAP.
              p
                | Во-первых, несмотря не большое количество инноваций и все растущий перечень продуктов в прайс-листе SAP, ERP остается ключевым и наиболее распространенным решением SAP, как в России, так и во всем мире, и потенциал роста этого рынка еще не исчерпан.
              p
                | Во-вторых, ERP – по праву титульное решение SAP, позволяющее понять общую продуктовую логику и, если угодно, «дух» SAP как с точки зрения программной архитектуры, так и с точки зрений реализованной бизнес-логики. А освоение материала курса TERP10 позволяет по сути открыть двери в обширную экосистему консультантов, фрилансеров и пользователей SAP.
              p
                | В-третьих, получение сертификата – по сути свидетельствует о том, что студент, достаточно мотивирован и целеустремлен, чтобы в весьма ограниченные сроки (продолжительность курса от 10 дней) не только изучить обширный объем материала (более 1100 страниц учебного пособия), но продемонстрировать свои знания при выполнении тестового задания. Это весьма серьезные индикатор для работодателей, особенно для тех из них, кто заинтересован в сотрудниках со знанием SAP.
              p
                | Ну в-четвертых, SAP и SAP ERP в частности – это не только и не столько про технологии, это больше про бизнес. Материал курса позволит вам систематизировать или приобрести новые знания о том, что собой представляет современное предприятие, в чем состоит логика процессного управления и как современное предприятие управляется на примере весьма структурированных упражнений-кейсов и привязки к таким предметным областям, как финансовый и управленческий учет, управление цепочками поставками, включая планирование потребности в материалах, управление персоналом и бизнес-аналитика.
              p
                | В завершении хотелось бы сказать, что все-таки прохождение и сертификация по курсу TERP10 не является 100% гарантией трудоустройства, но это точно будет осознанный шаг, направленный на развитие вашей корпоративной карьеры по сути в любой зрелой и ведущей отечественной или международной компании.
        .testimonial-item
          .person
            .image
              img(src='http://terp10.spbstu.ru/userfiles/images/speakers/kulikov.jpg', alt='')
            .name Куликов Михаил Михайлович
            .position к.э.н., доцент кафедры 
            .desc
              p
                | Я проходил обучение курсу TERP10 в рамках программы повышения квалификации в ЮРГПУ (НПИ) имени М.И. Платова в феврале 2012 года. Интенсивное насыщенное обучение в течение 10 дней, затем экзамен, который был успешно сдан, с получением сертификата консультанта компании SAP. Очень интересный курс! Полученные знания используются в процессе преподавания дисциплин «Управление персоналом», «Организация производства», а также в работе в качестве консультанта при внедрении элементов системы SAP ERP в конкретных организациях – ЗАО «Детский мир» и ПАО группа «Черкизово». Этот курс позволяет по новому взглянуть на экономические и управленческие дисциплины с точки зрения их объединения и автоматизации с использованием системы SAP ERP. Курс будет полезен с точки зрения карьерных перспектив в организациях, использующих решения от компании SAP, а также для расширения кругозора и улучшения представления о функционировании экономической и управленческой системы современной организации, использующей ERP системы.
        .testimonial-item
          .person
            .image
              img(src='http://terp10.spbstu.ru/userfiles/images/speakers/bazhenova.jpg', alt='')
            .name Екатерина Баженова
            .position аспирант, Институт Хассо Платтнера (Германия)
            .desc
              p
                | Прохождение курса SAP TERP10 познакомило меня с дисциплиной управления бизнес-процессами, широко признанной концепцией продуманного и эффективного менеджмента предприятий. На мой взгляд, уникальная особенность курса заключается в том, что он дает углубленный обзор различных процессов на предприятии и связей между ними, а не сосредотачивается на одном модуле ERP-системы. Я проходила обучение на последнем году магистратуры, и еще не была уверена, в какой именно области я буду специализироваться в будущем. Поэтому мне важно было понять общую структуру продукта SAP, а также понятие бизнес-процесса как такового, и его реализацию в системе. Было непросто выдержать 10 дней каждодневного интенсивного обучения и непростой экзамен в конце, но было очень интересно, и оно того стоило. Впоследствии возможность пройти стажировку в SAP Research в Южно-Африканской Республике, в ходе которой я получила уникальный опыт работы с разработкой управления бизнес-процессами на малых и средних предприятиях. В данный момент я являюсь аспирантом Института Хассо Платтнера в Германии и пишу диссертацию по теме майнинга моделей решений, дополняющих модели бизнес-процессов. Таким образом, освоение курса SAP TERP10 стало для меня отличным стартом моей профессиональной карьеры и открыло мне двери как для работы в компаниях, так и для занятия наукой бизнес-процессов.
        .testimonial-item
          .person
            .image
              img(src='http://terp10.spbstu.ru/userfiles/images/speakers/arzumanyan.jpg', alt='')
            .name Максим Арзуманян
            .position директор межвузовского центра по архитектуре предприятия EA Lab
            .desc
              p
                | Курс TERP 10 очень полезен для понимания того, как работает предприятие. Модули SAP ERP покрывают все функциональные системы организации, поэтому их изучение - это путешествие в мир разных специалистов, погружение в работу различных служб, департаментов, отделов. В некотором роде, можно сравнить эту программу с курсами MBA, где участники погружаются во все области работы организации для обретения общего понимания организации как целого. Помимо изучения самих модулей большая ценность в том, что SAP ERP интегрирует все процессы между собой и мы видим, как на самом деле все взаимосвязано сквозь функции и подразделения компаний. Именно поэтому в названии курса присутствуют слова про "интеграцию бизнес-процессов".
              p
                | Высокий профессионализм и большой накопленный опыт команды из SAP ACC с которой мы знакомы уже около 10 лет, делает курс живым, интересным и наполненным примерами. Я бы рекомендовал курс всем желающим разбираться в вопросах управления предприятиями и информационных технологий поддержки управления.
        .testimonial-item
          .person
            .image
              img(src='http://terp10.spbstu.ru/userfiles/images/speakers/shirobokova.jpg', alt='')
            .name Широбокова Светлана Николаевна
            .position
              | доцент каф. ИИСТ ЮРГПУ (НПИ), к.э.н. руководитель Авторизированного центра сертификации ЮРГПУ(НПИ), г.Новочеркасск
            .desc
              p
                | Курс TERP10 охватывает практически все основные функциональные возможности ERP -системы SAP и прекрасно иллюстрирует, как внедрение комплексных корпоративных информационных систем повышает эффективность деятельности предприятия за счет оптимизации бизнес-процессов. Курс дает базовые знания SAP ERP и является первой ступенью в мир решений SAP. Авторизированный Центр Сертификации ЮРГПУ(НПИ) (г.Новочеркасск) выпустил шесть выпусков сертифицированных специалистов по TERP10. Многим выпускникам это дало надежную путевку в жизнь и помогло трудоустроиться в крупных компаниях-клиентах SAP.
        .testimonial-item
          .person
            .image
              img(src='http://terp10.spbstu.ru/userfiles/images/speakers/stognij.jpg', alt='')
            .name Стогний Игорь Александрович
            .position научный сотрудник, Технический Университет Дрездена
            .desc
              p
                | Курс SAP TERP10 позволил мне обобщить и посмотреть практическое применения знаний, полученных на втором (экономическом) образовании и в дальнейшем самому начать преподавать курс в ВШЭ. Преподавание курса помогло мне понять каждый слайд из презентации. Поверьте, они действительно не просто так нарисованы и там действительно есть смысл в каждом. Курса помог изучить саму систему SAP ERP и осознать, что её интерфейс достаточно удобен, когда с ним немного поработаешь и привыкнешь. Маленький совет: когда делаете упражнения, всегда спрашивайте себя, что я сейчас делаю, и вы поймёте, что те буквы и числа, которые вы вносите в систему, тоже не просто так :). Удачи на экзамене!
        .testimonial-item
          .person
            .image
              img(src='http://terp10.spbstu.ru/userfiles/images/speakers/litvjak.jpg', alt='')
            .name Литвяк Роман Константинович
            .position старший преподаватель ИИСТ ЮРГПУ (НПИ)
            .desc
              p
                | Я прослушал курс TERP10 (SAP ERP – Интеграция бизнес-процессов) в ноябре 2010 года в г.Таганроге под руководством Антона Николаевича Амбражея, заместителя руководителя Академического центра компетенции SAP в г.Санкт-Петербурге. Заниматься было увлекательно (тут не последнюю роль сыграла авторская подача материала тьютором), учились с полной отдачей сил 2 недели. Каждый день был насыщен аудиторными занятиями теоретического и практического характера, а также домашней самоподготовкой в вечернее время. Мои усилия были вознаграждены: я сдал итоговый трехчасовой сертификационный экзамен! В целом, пройденный курс TERP10 с последующей успешной сертификацией оцениваю, как первый позитивный опыт знакомства с крупнейшей ERP-системой, который и приоткрыл для меня все эти замечательные возможности!
        .testimonial-item
          .person
            .image
              img(src='http://terp10.spbstu.ru/userfiles/images/speakers/babuh.jpg', alt='')
            .name Алексей Бабух
            .position главный аналитик,  АО «Сбербанк Технологии».
            .desc
              p
                | Курс TERP10 даёт хороший обзор основных модулей SAP и их интеграции. Курс содержит большое количество полезной информации, которая пригодилась мне в работе. Прохождение курса также помогло мне определиться с выбором направления профессиональной деятельности. На собственном опыте могу сказать, что курс TERP10 является хорошей отправной точкой в карьере консультанта SAP.
        .testimonial-item
          .person
            .image
              img(src='http://terp10.spbstu.ru/userfiles/images/speakers/bojkov.jpg', alt='')
            .name Бойков Сергей
            .position Ярославский государственный технический университет
            .desc
              p
                | Курс сам по себе обзорный, но очень интересный и полезный, насыщенный, содержит много новой информации. Он дает понимание концепции ERP систем в целом, позволяет найти интеграционные точки модулей системы, т.е. понять связь бизнес-процессов, помогает определиться для себя какой из модулей более интересен, развивает навыки работы с интерфейсом, знакомит с основными транзакциями. Теоретические основы курса подкреплены множеством практических примеров, что в значительной степени помогает понять и освоить темы курса. Однако для того чтобы сдать экзамен нужно много заниматься дома самостоятельно, внимательно читать учебник, к счастью, выданной литературы для этого достаточно.