- var URL = "http://terp10.spbstu.ru"
doctype html
html(lang="ru")
	head
		include ./templates/head
	body
		main.main-page
			div.slider
				include ./templates/header
				include ./templates/opportunity
			include ./templates/about
			include ./templates/testimonials
			include ./templates/program
			include ./templates/foreignst
			include ./templates/price
			include ./templates/registration
			include ./templates/questions
			include ./templates/contacts
			include ./templates/footer
		include ./templates/scripts